/build/
/dist/
.dep.inc
abc/main.cpp
nbproject/Makefile-Debug.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-Release.mk
nbproject/Makefile-variables.mk
nbproject/Package-Debug.bash
nbproject/Package-Release.bash
nbproject/private/c_standard_headers_indexer.c
nbproject/private/configurations.xml
nbproject/private/cpp_standard_headers_indexer.cpp
nbproject/private/launcher.properties
nbproject/private/Makefile-variables.mk
nbproject/private/private.xml
M800.cpp
M8002.cpp
test.pdf
test.ppt
testing.jpg
Docker.dmg
Kaspersky Security Uninstaller.zip
M8002 copy.cpp
penguin.bmp
pizza.gif
potato_walk.gif
sea.jpg
thumb-jpg.png
